.row{
	margin-left: 0;
	margin-right: 0;
}

body{
	min-width: 100%;
}

#logoSection{
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo{
	width: 180px;
}

.titleStyle{
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	color: white;
	font-size: 2em;
	line-height: 30px;
	text-align: left;
	padding-bottom: 5%;
}

.textAjust{
	font-family: 'Raleway', sans-serif;
	font-size: 1.4em;
	line-height: 25px;	
	text-align: left;
	text-justify: distribute;	
}

#gif{
	width: 100%;
	height: 100%;
	flex-shrink: 1;
	vertical-align: middle;
}

#backHomePage{
	border: solid 2px #00cca3;
	color: #00cca3;
	border-radius: 5px;
	padding: 20px;
	font-size: 1.5em;
	font-weight: bold;
	word-spacing: 3px;
	width: 100%;
}

section{
	margin-bottom: 5%;
}

.MarginTop{
	margin-top: 5%;
}

.ScoreTitle{
	font-size: 1em;
}

#scoreMessage{
	font-size: .9em;
}

#msgScore{
	width: 90%;
	border: solid 1px lightgrey;
	border-radius: 5px;
	padding: 10px; 
	margin: 15px auto;
}

.confLogoFooter1{
	width: 150px;
	height: 70px;
	margin-right: 10px;
}

.confLogoFooter2{
	width: 50px;
	margin-right: 5px;
}

.main-footer{
	background-color: #bfbfbf;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.imgTitle{
	background-image: url("../../../assets/images/Thank-You-Page-Background.jpg");
	background-position: center;
}
/*Mobile Style*/

@media only screen and (min-device-width: 768px){
	#logo{
		width: 220px;
	}
	
	#imgBackground{
		padding-bottom: 5%;
		padding-top: 5%;
	}

	h1{
		font-size: 3em;
		line-height: 55px;
	}

	h2{
		font-size:2em;
	}
	
	h3{
		font-size:1.5em;
	}
	.alignSection{
		flex-direction: column;
	}
}

@media only screen and (min-device-width: 300px){

	#backHomePage{
		font-size: 1.2em;
		padding: 10px;
	}
	.alignSection{
		flex-direction: column;
	}

}

dd{
  margin-bottom: 15px;
}

dl {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  position: relative;
  padding: 20px;
}

dt {
  align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
}

.text {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 40px;
  width: 130px;
  background-color: white;
  position: absolute;
  left: 0;
  justify-content: flex-end;
}

.percentage {
  font-size: .8em;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  background: repeating-linear-gradient(
  to right,
  #ddd,
  #ddd 1px,
  #fff 1px,
  #fff 5%
);
  
&:after {
    content: "";
    display: block;
    background-color: #3d9970;
    width: 50px;
    margin-bottom: 10px;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s ease;
    cursor: pointer;
  }
  &:hover,
  &:focus {
    &:after {
       background-color: #aaa; 
    }
  }
}

@for $i from 1 through 100 {
  .percentage-#{$i} {
    &:after {
      $value: ($i * 1%);
      width: $value;
    }
  }
}

html, body {
  height: 500px;
  font-family: "fira-sans-2",sans-serif;
  color: #333;
}