.row{
	margin-left: 0;
	margin-right: 0;
}

body{
	min-width: 100%;
}

#logoSection{
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo{
	width: 180px;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	color: #00cca3;
	font-size: 1.5em;
	line-height: 30px;
	text-align: left;
}

h2{
	font-family: 'Raleway', sans-serif;
	color: #000;
	font-size: 1.3em; 
	line-height: 30px;
	text-align: left;	  
}

h3{
	font-family: 'Raleway', sans-serif;
	font-size: 1.4em;
	line-height: 25px;	
	text-align: left;	
}

#gif{
	float: left;
	flex-shrink: 1;
}

#backHomePage{
	border: solid 2px #00cca3;
	color: #00cca3;
	border-radius: 5px;
	padding: 20px;
	font-size: 1.5em;
	font-weight: bold;
	word-spacing: 3px;
	width: 100%;
}

section{
	margin-bottom: 5%;
}

.MarginTop{
	margin-top: 5%;
}

#msgScore{
	width: 100%;
	border: solid 1px lightgrey;
	border-radius: 5px;
	padding: 10px; 
}

.alignSection{
	display: flex;
	flex-direction: row;
}

.confLogoFooter1{
	width: 150px;
	height: 70px;
	margin-right: 10px;
}

.confLogoFooter2{
	width: 50px;
	margin-right: 5px;
}

.main-footer{
	background-color: #bfbfbf1a;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*Mobile Style*/

@media only screen and (min-device-width: 768px){
	#logo{
		width: 220px;
	}
	
	#imgBackground{
		padding-bottom: 5%;
		padding-top: 5%;
	}

	h1{
		font-size: 3em;
		line-height: 55px;
	}

	h2{
		font-size:2em;
	}
	
	h3{
		font-size:1.5em;
	}
	.alignSection{
		flex-direction: column;
	}
}

@media only screen and (min-device-width: 300px){

	#backHomePage{
		font-size: 1.2em;
		padding: 10px;
	}
	.alignSection{
		flex-direction: column;
	}

}
