.row{
	margin-left: 0;
	margin-right: 0;
}

body{
	min-width: 100%;
}

#logoSection{
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo{
	width: 180px;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	color: #00cca3;
	font-size: 1.5em;
	line-height: 30px;
	margin: 2%;
}

h2{
	font-family: 'Raleway', sans-serif;
	color: #FFF;
	font-size: 1.3em; 
	line-height: 30px;
	margin-left: 0;	  
}

h3{
	font-family: 'Raleway', sans-serif;
	font-size: 1.4em;
	line-height: 25px;	
	margin: 2%;
}

#gif{
	width: fit-content;
	text-align: center;
	margin-bottom: 20px;
	flex-shrink: 1;
}

/*Mobile Style*/

@media only screen and (min-device-width: 768px){
	#logo{
		width: 220px;
	}
	
	#imgBackground{
		padding-bottom: 5%;
		padding-top: 5%;
	}

	h1{
		font-size: 3em;
		line-height: 55px;
	}

	h2{
		font-size:2em;
	}
	
	h3{
		font-size:1.5em;
	}

	#gif{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
}