#nameEmailInfo, #btnSummit{
	display: none;
}

#logoSection{
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo{
	width: 200px;
}

#navBar{
	margin-left: 5%;
	margin-right: 10%;
	margin-top: 5%;
    margin-bottom: 5%;		
	border: none;
	min-height: 80px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 0;
    margin-top: 6%;
    background-color: transparent;
    background-image: none;
    border: none;
	border-radius: 0;
    width: 6%;	
}

.navbar-brand {
    float: left;
    height: 100px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
}

.navbar-default {
	background-color: #fff;
	background-image: none;
	box-shadow: none;
}

#menuItens{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 5%;
	line-height:5px;
}

#imgMenu{
	width: 50px;
}

.itemMenu{
	text-decoration: none;
	color: #000;
}

#imgBackground{
	background-image: url("../img/Hero-Background-Mobile.jpg");
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;	
    padding-top: 60px;
    padding-bottom: 60px;
}

#main-title{
	margin-top:1%;
	margin-bottom: 20%;
	margin-left: 7%;
	margin-right: 10%;
}

#textContent{
	margin-left: 7%;
	margin-right: 10%;	
}

.colorWord{
	color:#FFF;
	font-weight: bold;  	
}

#btnTeste{ 
	width: 100%;
}

.btnType{
    background-color:#ff6a00;

    border-radius: none;
    border: 0px;

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3x;
	display: inline-block;

	width: 100%;
	padding-bottom: 4%;
    padding-top: 4%;
    padding-left: 6%;
	padding-right: 6%;
}

.btnType:hover {
  	background-color:#ff6a00;
  	outline: none;
}

.btnType:active {
  	outline: none;
}

.btnType:focus {
  	outline: none;
}

#imgBtn{
	width: 50px;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	color: #00cca3;
	font-size: 1.8em;
	line-height: 30px;
	margin-left: 0;
	
}

h2{
	font-family: 'Raleway', sans-serif;
	color: #FFF;
	font-size: 1.4em; 
	line-height: 30px;
	margin-left: 0;	  
}

.titulo{
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;	
	font-size: 2em;
	line-height: 40px;	
	color: #000 !important;
	margin-left: 0!important;
}

h3{
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em;
	line-height: 25px;	
	margin: 10%;
	margin-left: 0;
	margin-bottom: 5%;
}

.DivVerde{
	color: #00cca3;
	background-color: #00cca3;
	height: 4px;
	width: 120px;
	margin-left: 0;
	margin-top: 5px;
}

#imgQuemSomos{
	width: 100%;
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
	margin-left: 0;
	margin-right: 0;
	margin-top:30px;
	margin-bottom: 20px;
}

#formQuestions{
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 100%;	
}

.formControl{
	width: 100% !important;
}

.itemForm{
	padding-top: 15px;
}

.confImage{
	width: 20px;
}

.itemMenu a:link, .itemMenu a:visited{
	font-size: 1.8em;
	color: #000 !important;
}

.confLogoFooter1{
	width: 200px;
}

.confLogoFooter2{
	width: 50px;
}

.main-footer{
	display:flex;
	justify-content: space-between;
	background-color: #f9f9f9;
	padding: 5%;
}
/*Mobile Style*/

@media(max-with: 768px){	

}