.questions{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.question, .options{
    flex-grow: 1;
    flex-shrink: 1;
}

.question{
    width: 60%;
}

.radio-group-container{
    margin:  auto;
    box-shadow: inset 0px 0px 21px -7px black;
    font-size:  16px;
    display:  inline-block;
    width: 40%;
}

@media(max-width: 768px) {
    .questions{
        flex-direction: column;
    }
    
    .question, .options{
        width: 100%;
    }
}