<div class="{{ visible ? 'd-flex' : 'd-none'}} questions">
    <div class="row w-100">
        <div class="question col-md-6">
            <h2 class="multi-lines-text">{{ number + ') ' + question.question }}</h2>
            <div [class]="question.style"></div>
        </div>

        <div class="options col-md-6">
            <app-radio *ngFor="let option of question.options" 
                [option]="option" 
                (selected)="selectedChanged($event)" 
                class="d-block"></app-radio>
        </div>
    </div>    
</div>
