.questions{
    margin-top: 15%;
}
.question{
    vertical-align: middle;
}
.options{
    padding: 20px;
    box-shadow: 0 0 23px -5px black;
    border: none;
    border-radius: 5px;
    margin-top: 1%;
}

@media only screen and (max-device-width: 768px){}

.questions{
    display: flex;
}
