body{
    height: 80%;
}

row{
    margin-left: 0;
    margin-right: 0;
}

#header{
    background-color: #000;
    justify-content: space-around;   
    height: 15%;
    vertical-align: middle;
    padding-top: 2%;
    padding-bottom: 2%;
}

#headerAlign{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding-bottom: 0;
}

#logo{
    justify-content: start;
    width: 100px;
}

#login{
    color: white;
    font-size: 1.5em;
    text-align: end;
    font-family: Arial;
    vertical-align: middle;
    margin-top: 11px;    
}

#ImageBack{
    background-image: url("../img/login-bg.jpg");
    min-height: 80%;
    width: 100%;
}

.boxLogin{
    background-color: white;
    padding: 3%;
    margin: 10%;
    width: 40%;
    box-shadow: 0 0 23px -5px black;
    border-radius: 4px;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin-top: 5%;
    text-align: center;
}

.btn-primary{   
    background-color: #8dda8d;
    border: none;
    color: white;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
	text-align: center;
	text-decoration: none;
	letter-spacing: 3x;

	width: 100%;
	padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 10%;
	padding-right: 10%;
    margin-top: 5%;
}

#btnSubmit:hover {
	background-color:#8dda8d;
	color: #fff;
	outline: none;	
    text-decoration: none;	 
    border:none;	       
}

#btnSubmit:active {
	outline: none;
    text-decoration: none;
    border:none;
    box-shadow: none;	  
}

#btnSubmit:focus {
	outline: none;
    text-decoration: none;
    border:none;	
    box-shadow: none;	          
}

#sectionForm{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-device-width: 768px){
    .boxLogin{
        width: 70%;
    }

    .btn-primary{   
        font-size: 1em;
        font-weight:none;
    }

    body{
        height: 100%;
    }
    
    #ImageBack{
        min-height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media only screen and (max-device-width: 320px){
    #ImageBack{
        min-height: 100%;
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .boxLogin{
        width: 80%;
    }
}