<div class="w-100 h-100 d-block">
    <div class="top-container">

        <div class="progress-container">
            <app-progress-bar [position]="position" [total]="questionList.questions.length"></app-progress-bar>   
        </div>
        <ng-template [ngIf]="position > 0">
            <div class="btn-back">
                <div class="text-back" (click)="back()">VOLTAR</div>
            </div>
        </ng-template>
    </div>

    <div class="scheduled-time">Tempo previsto: 7:00 min</div>

    <div class="container-questions">
        <form (submit)="submiteTechnicalTest($event)" class="w-100">
            <app-radio-group *ngFor="let question of questionList.questions; let i = index" 
                [question]="question"  
                [number]="i+1"
                [visible]="groupVisible(i)"
                (selected)="selectionChanged()">
            </app-radio-group>
        
            <div id="msgScore" class="row container">
                <label id="scoreMessage"></label>
            </div>

            <ng-template [ngIf]="position == questionList.questions.length">
                <div class="message-container">
                    <div class="thanks-img">
                        <img src="https://i.imgur.com/A3n1cOA.jpg" style="width:100%;">
                    </div>
                
                    <div class="container thanks-title">
                        <div class="row">
                            <div class="col-md-8">
                                Pronto! Agradecemos pela participação e até em breve.
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-sucess" type="submit" class="thanks-btn">
                                    Enviar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </form>
    </div>

</div>