.row{
    margin-left: 0;
    margin-right: 0;
}

#TestBackground{
    max-width: 80%;
    padding: 3%;
    margin: 4% auto;
    border-radius: 10px;
    box-shadow: 0 0 100px 15px rgba(0, 0, 0, 0.9);
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
}

.btn-back{
    display:  inline-block;
    vertical-align: middle;
    min-width: 80px;
}

.btn-back .text-back{
    height: 30px;
    width: 100%;
    background-color: #bd2130;
    border-radius: 5px;
    text-align: center;
    color:  white;
    font-weight:  500;
}

.scheduled-time{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.progress-container{
    width: 100%;
    margin-left: 10px;
}

.top-container{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row-reverse;
}

.container-questions{
    height: 70%;
    align-items: center;
    align-content: center;
    max-width: 1000px;
    margin-top: 0!important;
}

.thanks-img{
    max-width: 470px;
    display: inline-block;
    margin:  auto;
    margin:  0 20px;
}

.thanks-title{
    width: fit-content;
    margin:  auto;
    padding: 30px 40px;
    box-shadow: inset 0px 0px 21px -7px black;
    font-size:  16px;
    display:  inline-block;
    background-color: white;
}

.thanks-btn{
    padding: 10px 20px; 
    background-color: #8dda8d; 
    color: white;
    font-weight: 600;
    border:none;
    border-radius: 3px;
    margin-top: 10px;
}
.text-back{
    padding-top: 3px;
}

.message-container{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    margin-top: 5%;
}
#imgBackground{
    background-size:cover; 
    padding-top:4%; 
    padding-bottom:16%;
}


@media only screen and (max-device-width: 768px) {
    .message-container{
        flex-flow: column;
    }

    #TestBackground{
        max-width: 90%;
    }

}