.header{
    background-color: cadetblue;
    color:  white;
}

img {
    border-radius: 100px;
    width: 30px;
  }
.loading { line-height: 31px; }
.home-link { color: #212529; }
.home-link:hover { text-decoration: none; }
.login-container{
    padding: 10px;
}