<header>
  <div id="logoSection" class="container">
    <img id="logo" src="../../../assets/images/hr-logo.png" alt="HRtechSolutions">
  </div>
  </header>

<div id="imgBackground">

  <section id="home" class="container">
      <div id="main-title">
        <h1>DESCUBRA COMO O MERCADO BRASILEIRO ESTÁ 
        <br> CONTRATANDO PROFISSIONAIS DE VENDAS</h1>
      </div>

      <div id="textContent">
        <h2>Queremos entender como funciona a 
        <br/>seleção de profissionais de vendas para 
        <br/>desenvolver uma 
        <span class="colorWord">solução</span>
        que agregue nos 
        <br/>interesses dos vendedores e das empresas.</h2>
      </div>
  </section>