<div>
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item is-brand" href="#">
      <img src="../assets/img/hr-logo.png" alt="HRtechSolutions">
      HR Tech Solutions
    </a>
  </div>

  <div class="nav-center">
  </div>

  <div class="nav-right">
  </div>
</nav>

  <section class="conteudo">
    <header>
		<div id="logoSection" class="container">
			<img id="logo" src="../assets/img/hr-logo.png" alt="HRtechSolutions">
		</div>
    </header>

    <div id="imgBackground">

      <section id="home" class="container">
          <div id="main-title">
            <h1>DESCUBRA COMO O MERCADO BRASILEIRO ESTÁ 
            <br> CONTRATANDO PROFISSIONAIS DE VENDAS</h1>
          </div>

          <div id="textContent">
            <h2>Queremos entender como funciona a 
            <br/>seleção de profissionais de vendas para 
            <br/>desenvolver uma 
            <span class="colorWord">solução</span>
            que agregue nos 
            <br/>interesses dos vendedores e das empresas.</h2>
          </div>
      </section>

      <section id="fill-out" class="container">

        <div id="type-selector" class="row ">
          <div class="col-md-3">
            <button id="type-employer" class="btnType"/>Profissional de RH</label>
          </div>
          <div class="col-md-3">
            <button id="type-employee" class="btnType"/>Vendedor</label>	
          </div>               
        </div>
      </section>	
    </div>	
  </section>
</div>